#Flex{
    .box{
        display: flex;
        width: 600px;
        background: #abc;
    }

    //demo1
    .left{
        height: 100px;

        flex-grow: 2;
        background: orange;
    }

    .right{
        height: 100px;

        flex-grow: 1;
        background: dodgerblue;
    }

    .contentLeft{
        display: inline-block;
        border: #333 solid 1px;
        height: 30px;
        box-sizing: border-box;

        width: 80px;
    }

    .contentRight{
        display: inline-block;
        border: #333 solid 1px;
        height: 30px;
        box-sizing: border-box;

        width: 220px;
    }

    //demo2
    .left2{
        height: 100px;

        flex-grow: 2;
        flex-basis: 60px;
        background: orange;
    }

    .right2{
        height: 100px;

        flex-grow: 1;
        flex-basis: 240px;
        background: dodgerblue;
    }

    //demo3
    .demo3{
        display: flex;
        width: 500px;
        border: #abc solid 10px;
    }

    .demo3Left{
        flex: 0 0 400px;
        //flex-basis: 400px;
        //flex-shrink: 0;

        background: coral;
    }

    .demo3Right{
        flex-grow: 1;
        background: cadetblue;
    }
}