@font-face {
    font-family: "iconfont";
    src: url("../../icons/dist/iconfont.eot?ab23474395cc29a3bf445107e67337ce?#iefix") format("embedded-opentype"),
url("../../icons/dist/iconfont.woff?ab23474395cc29a3bf445107e67337ce") format("woff"),
url("../../icons/dist/iconfont.ttf?ab23474395cc29a3bf445107e67337ce") format("truetype");
}

.icon {
    display: inline-block;
    line-height: 1;
}

.icon:before {
    font-family: iconfont !important;
    font-style: normal;
    font-weight: normal !important;
    vertical-align: top;
}

    .i-back:before {
        content: "\f101";
    }
    .i-close:before {
        content: "\f102";
    }
    .i-edit:before {
        content: "\f103";
    }
