@charset "UTF-8";

@import "reset";

.sidebar {
    position: fixed;
    width: 200px;
    border-right: #ccc solid 1px;
    top: 0;
    bottom: 0;
    padding-top: 50px;
}

.item {
    padding: 4px 8px;
}

.main {
    margin-left: 220px;
    padding-top: 50px;
}
